.movieText {
  color: violet;
  text-align: left;
  font-size: medium;
  background-color: yellow;
  border-style: dotted;
}

.movieHeading {
  color: purple;
  text-align: left;
  font-size: large;
}
